*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.top-container{
    display: flex;
    height: calc(100vh - 68px);
    background-color: rgb(12, 12, 12);
}

.bottom-container{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 68px;
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;


}
body{
    color: white;
    font-family: 'Montserrat', sans-serif;;
    font-size: 10px;
    
}
.half-bar-menu{
   
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu-logo ,
.middle-menu,
.last-menu{

display: flex;
flex-direction: column;
}

.middle-menu{
    flex-grow: 1;
    overflow: hidden;
}


.menu-logo ,
.last-menu{
    flex-shrink: 0;
}

.main-box{
    border: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.main-box-top{
   min-height: 65px;
    position: relative;
    
}

 .main-box-bottom{
    flex-grow: 1 ;
    background-color: #141922;
    overflow: auto;
}

.icon{
    width: 22px;
    vertical-align: middle; 
}

span{
    display: none;  
 }

.mini-box,
.half-bar-menu
h2,h6{
    display: inline-block;
}
  
ul {
    list-style: none;
}

ul li a{
    color: #878787;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.list-icon ul li a:hover{
    color: white;
}

 .style-sheet{
    font-size: 8px;
    display: inline-block;
}

.over-list{
    overflow: auto;
}

.pad-element li a:hover{
    color: white;
}


.left-content{
    flex-shrink: 0;
    padding-left: 10px;
}
.middle-content{
    flex-grow: 1;
    text-align:center;
    min-width: 150px;
}
.right-content{
    flex-shrink: 0;
    padding-right: 10px;
    margin-left: 10px;
}

.bar-play{
    font-size: 15px;
    padding-bottom: 7px;
}
.player{
    background: grey;
    border: 0.5px solid grey;
    width: 50%;
    border-radius: 20px;
    
}
.player2{
    background: grey;
    border: 0.5px solid grey;
    width: 50px ;
    border-radius: 20px;
   
}

.play-line{
    background: rgb(255, 255, 255);
    border: 1.5px solid white;
    width: 50%;
    border-radius: 40px;
    box-shadow: black;
}
.icon-player i{
    padding: 0 5px;
  
}

.upgrade-style{
    border: 1px solid white;
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    font-size: 13px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-weight: bold;
    transition: 1s ;
}

.upgrade-style:hover{
    padding: 12px 29px;
    color: #ADFF2F;
    border: 1px solid #ADFF2F ;
}



.sub-title-section{

    font-size: 20px ; 
    padding-left: 10px;
}

.social{
    width: 15%;
}
nav{
    text-align: center;
}
nav ul li {
    display: inline-block;
    text-align: center;
}
nav ul li a{
    padding: 10px 10px;
    line-height: 40px;

}

nav ul :nth-child(1){
    position: relative;
}

.line::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background: #ADFF2F;
    border: 1px solid #ADFF2F;
    border-radius: 10px;
    width: 30%;
}
.lib li a:hover{
    color: white;
}

.lib li a:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    background: #ADFF2F;
    border: 1px solid #ADFF2F;
    border-radius: 10px;
    width: 30%;

}
 
/* card-box */

.panel-card{
    display:flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    padding-left: 10px;

}


  
.text-card{
    width: 100%;
    text-align: center; 
    padding-top: 10px;
   
}

.text-card-box{
 width: calc(100% / 2 - 8px );
}


.text-card h3{
    padding-bottom: 10px;
}

.card{
    position: relative;
}

.buttonover{
    position: absolute;
    font-size: 50px;
    top: 50%;
    right: 50%;
    transform: translate(50% , -50%);
}

 .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.card:hover .overlay{
    display: block;
    background: rgba(0, 0, 0, .6);
    
}

.music-banner{
    width: 100%;
    object-fit: contain;
}

.giotto-card{
    /* width: 160px;
    height: 160px; */
   
    border-radius: 50%;
    overflow: hidden;
}
.style-cards-description{
    padding-top: 40px;
    padding-left: 10px;
    padding-bottom: 15px;
    line-height: 30px;
}

