@media screen and (min-width: 560px){

    .half-bar-menu{
        
        width: 250px;
        align-items: inherit;
    }
    span{
        display: inherit;
    }

    ul li{
        padding: 7px 0;
        padding-left: 10px;
    
    }
    
    .pad-element{
        padding: 10px ;
        padding-left: 10px;
        position: relative;
    }

    .invisible-item{
        display: none;
    }

    .logo-style{
        width: 150px;
        padding: 10px 10px;
    }

    #playlist-add{
        font-size: 13px;
        vertical-align: middle;
        font-weight: bold;
    }
    .social{
        display: inline;
    }

    .list-icon ul li:nth-child(1){
        border-left: 4px solid #ADFF2F;


    }

    .text-card-box{

 
       width: calc(100% / 3 - 8px );
       }


       .lines-half::before{
           content: "";
           position: absolute;
           top: 0;
           right: 50%;
           transform: translateX(50%);
           background: #ADFF2F;
           border: 0.5px solid #ADFF2F;
           border-radius: 10px;
           width: 85%;
       }
}


    @media screen and (min-width: 760px){

    .text-card-box{
        width: calc(100% / 4 - 10px );
       }
    
}


@media screen and (min-width: 920px){

    .text-card-box{
        width: calc(100% / 6 - 10px );
       }
    
}