@media screen and (min-width: 560px){

    .half-bar-menu{
        
        width: 250px;
        align-items: inherit;
    }
    span{
        display: inherit;
    }

    ul li{
        padding: 7px 0;
        padding-left: 10px;
    
    }
    
    .pad-element{
        padding: 10px ;
        padding-left: 10px;
    }

    .invisible-item{
        display: none;
    }

    .logo-style{
        width: 150px;
        padding: 10px 10px;
    }

    #playlist-add{
        font-size: 13px;
        vertical-align: middle;
    }
    .social{
        display: inline;
    }

    .list-icon ul li:nth-child(1){
        border-left: 4px solid #ADFF2F;

    }
    
    @media screen and (min-width: 760px){
/* 
    .text-card-box{
        width: calc(100% / 3 - 6px );
       }
     */
}